<style type="text/css">
  body {
    background-color: #DADADA;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: 10px;
  }
  .column {
    max-width: 450px;
  }
</style>

<div class="ui middle aligned center aligned grid">
  <div class="one column row">
    <div class="column">
      <img src="../../assets/img/logo.svg" class="image" width="250px">
      <h2 class="ui grey image header">
        <div class="content">
          Login Chat-Applikation
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">

            <div *ngIf="isError" class="ui error form field">
                <div class="ui error message">
                  <div class="header">Fehler beim Anmelden</div>
                  <p>Fehler beim Login aufgetreten. Fehlernummer: {{errorCode}}<br>User bereits angemeldet.</p>
                </div>
              </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input #userField type="text" name="userName" placeholder="Username" [(ngModel)]='username' (keyup.enter)="onEnter()">
            </div>
          </div>
          <div (click)="login()" class="ui fluid large red button submit">Login</div>
        </div>

        <div class="ui grey message">
          <div class="ui form">
            <div class="inline field">
              <div class="ui toggle checkbox">
                <input type="checkbox" [checked]='isAdvancedChat' disabled="true">
                <label>Use AdvancedChat-Client</label>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>

  </div>